#header{
    width: 100%;
    height: 100px;
    background-color: lightskyblue;

}

a {
    color: whitesmoke;
    font-size: 80%;
    text-decoration: none;
}

#text{
    color: grey;
    font-size: 150%;
}

div{
    color: black;
}

#search{
    margin-top: 20px;
    font-size: 200%;
}
